:root {
    --ljusbeige: #cef3c6;  /*backroundcolor*/ 
    --kallbrun: #2e1c13;   /*header/footer */  
    --ljusgrön: #b0d3a5;  /*nothing*/ 
    --ljusgrön2: #C9EEC1;  /*nothing*/ 
    --main-light-color: #f9bbb1;  /*nothing*/ 
    --main-dark-color: #481b0b;  /*backrund p page 4*/  
    --line_color : #555555 ;  /*btn*/  
    --back_color : #c2e6b9  ;  /*btn*/ 
    --boxshadow : #83af9b ; /* boxshadow*/
    --textruta : #e9e6be ;
    --textrutashadow : #b7bebb ; 
    --p : #2e1c13; /*p*/
  
  
    /*old version 
    --ljusbeige: #f9cdad;  backroundcolor
    --kallbrun: #4f3426;   header/footer 
    --ljusgrön: #b0d3a5;  nothing
    --ljusgrön2: #C9EEC1;  /*nothing
    --main-light-color: #f9bbb1;  /*nothing
    --main-dark-color: #481b0b;  /*backrund p page 4
    --line_color : #555555 ;  /*btn*
    --back_color : #d3ba9b  ;  /*btn
    --boxshadow : #83af9b ; /* boxshadow*
    --textruta : #ecc2a4 ;
    --textrutashadow : #b7bebb ; 
    */
  
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /*font-family: 'Baloo 2';*/
    font-family: italic;
    font-weight: 300;


  }
  
  body {
    overflow-x: hidden;
    background-color: var(--ljusbeige);
  }
  
  header a {
    text-decoration: none;
  }
  
  header {
    position: sticky;
    top: 0;
    padding: 0 20px;
    background-color: var(--kallbrun);
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
  }

  p{
    color: var(--p);
  }
  
  
  #brand {
    font-weight: bolder;
    font-size: 28px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: #09c372;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: white;
    font-size: 20px;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }

  
  #Connect {
    border-radius: 5px;
    padding: 5px 8px;
    border: 1px solid #6df078;
  }
  
  #Connect a {
    color: #6df078;
  }
  
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
    
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(39vh - 50px);
    width: 100%;
    background-color: #565c59;
    z-index: 10;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  

  .page {
    min-height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding: 0px;
    text-align: center;
  }
  
  .underlined {
    position: relative;
    font-size: 60px;
    font-weight: 900;
  }
  
  .underline-clip:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 125%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10%;
    border: 6px solid #2e1c13;
    clip-path: polygon(0 0, 25% 25%, 100% 0);
  }
  
  .page1 {
    background-image: url(im-grieving-670x410.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    margin: 0 0 1em 0;
  }
  
  .page1 h1 {
    position: relative;
    font-size: 50px;
    padding: 70px;
    width: 900px;
  }
  
  .page2 {
    min-height: calc(80vh - 200px);
    padding: 0 9em;
  }
  
  
  .page2-p {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 20px;
    margin: 1em;
  }

  .page2 p{
    z-index: 20;
    color: var(--p);
  }

  .page2 span{
    font-weight: 900;
    font-size: 40px;

  }
  
  
  
  .container{
  position: relative;
  width : 100% ;
  height : 100px ;
  display : flex ;
  flex-direction : column ;
  justify-content : center ;
  align-items : center ;   
  }
  
  .button{
    position : relative ;
    z-index : 0 ;
    width : 240px ;
    height : 56px ;
    text-decoration : none ;
    font-size : 14px ; 
    font-weight : bold ;
    color : var(--line_color) ;
    letter-spacing : 2px ;
    transition : all .3s ease ;    
  }
  .button__text{
    display : flex ;
    justify-content : center ;
    align-items : center ;
    width : 100% ;
    height : 100% ;
  }
  .button::before,
  .button::after,
  .button__text::before,
  .button__text::after{
    content : '' ;
    position : absolute ;
    height : 3px ;
    border-radius : 2px ;
    background : var(--line_color) ;
    transition : all .5s ease ;
  }
  .button::before{
    top : 0 ;
    left : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
  }
  .button::after{
    top : 0 ;
    right : 54px ;
    width : 8px ;
  }
  .button__text::before{
    bottom : 0 ;
    right : 54px ;
    width : calc( 100% - 56px * 2 - 16px ) ;
  }
  .button__text::after{
    bottom : 0 ;
    left : 54px ;
    width : 8px ;
  }
  .button__line{
    position : absolute ;
    top : 0 ;
    width : 56px ;
    height : 100% ;
    overflow : hidden ;
  }
  .button__line::before{
    content : '' ;
    position : absolute ;
    top : 0 ;
    width : 150% ;
    height : 100% ;
    box-sizing : border-box ;
    border-radius : 300px ;
    border : solid 3px var(--line_color) ;
  }
  .button__line:nth-child(1),
  .button__line:nth-child(1)::before{
    left : 0 ;
  }
  .button__line:nth-child(2),
  .button__line:nth-child(2)::before{
    right : 0 ;
  }
  .button:hover{
    letter-spacing : 6px ;
  }
  .button:hover::before,
  .button:hover .button__text::before{
    width : 8px ;
  }
  .button:hover::after,
  .button:hover .button__text::after{
    width : calc( 100% - 56px * 2 - 16px ) ;
  }
  .button__drow1,
  .button__drow2{
    position : absolute ;
    z-index : -1 ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
  }
  .button__drow1{
    top : -16px ;
    left : 40px ;
    width : 32px ;
    height : 0;
    transform : rotate( 30deg ) ;
  }
  .button__drow2{
    top : 44px ;
    left : 77px ;
    width : 32px ;
    height : 0 ;
    transform : rotate(-127deg ) ;
  }
  .button__drow1::before,
  .button__drow1::after,
  .button__drow2::before,
  .button__drow2::after{
    content : '' ;
    position : absolute ;
  }
  .button__drow1::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -60deg ) ;
  }
  .button__drow1::after{
    top : -10px ;
    left : 45px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( 69deg ) ;
  }
  .button__drow2::before{
    bottom : 0 ;
    left : 0 ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -146deg ) ;
  }
  .button__drow2::after{
    bottom : 26px ;
    left : -40px ;
    width : 0 ;
    height : 32px ;
    border-radius : 16px ;
    transform-origin : 16px 16px ;
    transform : rotate( -262deg ) ;
  }
  .button__drow1,
  .button__drow1::before,
  .button__drow1::after,
  .button__drow2,
  .button__drow2::before,
  .button__drow2::after{
    background : var( --back_color ) ;
  }
  .button:hover .button__drow1{
    animation : drow1 ease-in .06s ;
    animation-fill-mode : forwards ;
  }
  .button:hover .button__drow1::before{
    animation : drow2 linear .08s .06s ;
    animation-fill-mode : forwards ;
  }
  .button:hover .button__drow1::after{
    animation : drow3 linear .03s .14s ;
    animation-fill-mode : forwards ;
  }
  .button:hover .button__drow2{
    animation : drow4 linear .06s .2s ;
    animation-fill-mode : forwards ;
  }
  .button:hover .button__drow2::before{
    animation : drow3 linear .03s .26s ;
    animation-fill-mode : forwards ;
  }
  .button:hover .button__drow2::after{
    animation : drow5 linear .06s .32s ;
    animation-fill-mode : forwards ;
  }
  @keyframes drow1{
    0%   { height : 0 ; }
    100% { height : 100px ; }
  }
  @keyframes drow2{
    0%   { width : 0 ; opacity : 0 ;}
    10%  { opacity : 0 ;}
    11%  { opacity : 1 ;}
    100% { width : 120px ; }
  }
  @keyframes drow3{
    0%   { width : 0 ; }
    100% { width : 80px ; }
  }
  @keyframes drow4{
    0%   { height : 0 ; }
    100% { height : 120px ; }
  }
  @keyframes drow5{
    0%   { width : 0 ; }
    100% { width : 124px ; }
  }
  

  .rubrik {
    position  : relative; 
    width     : 100%;  
    height    : 10%; 
    text-align: center;
 
  }

  .rubrik span {
    position  : relative; 
    width     : 100%;  
    height    : 100%; 
    text-align: center;
    color: #2e1c13;
    font-weight: 600;
  }

  #about{
    padding-left: 35em;
  }

  .page3 {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 0 1em;
}

  
  .page3 p {
  position: relative;
  padding: 70px;
  width: 50%;
  background-color: var(--textruta);
  border-radius: 70px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
  }
  
  .page3 img{
  position: relative;
  width: 21em;
  height: auto;
  margin-top: 1em;

  }
  
  #btn2{
  padding-left: 35em;
  }
  
  
  .page4 {
  background-image: url(im-grieving-670x410.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  margin: 1em 0;

  }
  
  .page4 p {
  position: relative;
  font-size: 50px;
  padding: 70px;
  width: 900px;
  }
  
  .page5 {
  min-height: calc(100vh - 200px);
  
  }

  
  .Sboxes {
  margin-top: 0px;
  display: flex;
  justify-content: space-evenly;
  }
  .Sboxes:last-child {
  margin-top: 120px;
  }
  .Sbox {
  width: 30vw;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;
  padding: 0 4vw 4vw;
  border-right: 4px;
  border-left: 0;
  border-style: solid;
  /* 	border-image: linear-gradient(to bottom, #ccc, #555 66%, #181818) 1 100%; */
  border-image: linear-gradient(to bottom, #C9EEC1, #eee, #C9EEC1) 1 100%;
  }
  .Sbox:last-child {
  border-right: 0;
  }
  .Sbox .Sicon {
  font-size: 4em;
  color: #555;
  margin-bottom: 0.6em;
  }
  .Sbox .Sicon:hover {
  color: #d8d8d8;
  }
  .Sbox h2 {
  font-size: 1.3em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 200;
  line-height: 1em;
  color: var(--p);
  }
  .Sbox .Spiece-count {
  font-style: italic;
  color: #9f9f9f;
  margin-bottom: 1.2em;
  letter-spacing: 1px;
  font-family: Lora, serif;
  }

  .newbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0em 15em;
    line-height: 1.4em;

    
  }

  .title {
    font-weight: bolder;
    font-size: 34px;
  }
  
  .myapproachp{
  position: relative;
  text-align: left;
  font-size: 20px;
  }

  
  .page6 {
    position: relative;
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: space-evenly;
  padding: 0em 12em;

  }
  
  #box1 {
  position: relative;
  margin: 4em 16em;

  }
  
  #box2 {
  position: relative;
  left: 4em;

  }
  
  .box p {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;
  color: #774f38;
  background-color: #ece5ce;
  padding: 50px;
  border-radius: 11px;
  position: relative;
  box-shadow: 20px 20px var(--boxshadow);
  font-family: "Baloo 2", cursive;
  }
  
  .box p:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-fill-color: #ece5ce;
  text-shadow: 22px 22px var(--boxshadow);
  text-align: left;
  font-size: 25px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: #ece5ce;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px var(--boxshadow);
  z-index: -2;
  }
  
  @keyframes float {
    0% {
        transform: translatey(0px);
   }
    50% {
        transform: translatey(-20px);
   }
    100% {
        transform: translatey(0px);
   }
  }
  @keyframes float2 {
    0% {
        line-height: 30px;
        transform: translatey(0px);
   }
    55% {
        transform: translatey(-20px);
   }
    60% {
        line-height: 10px;
   }
    100% {
        line-height: 30px;
        transform: translatey(0px);
   }
  }
  
  
  
  
  video {
  position: relative;
  border: 6px solid rgb(236, 230, 207); 
  box-shadow: 20px 10px var(--boxshadow); 
  border-radius: 36px;
  }
  
  
  
  footer {
    background-color: var(--kallbrun);
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    word-spacing: 20px;
  }

   /*responsive 480*/ 
  @media (max-width: 480px) {
  
    body {overflow-x: visible;}
  
  
    header nav {
      display: none;
    }
    
    #hamburger-icon {
      display: block;
    }

    p{
        font-size: 18px;
    }

    .page2{
        display: block;
    }

      
  .page2-p {
    margin: auto;
    padding: 0 0 1em 0;
}

#about{
    padding-left: 0;
}

  .page3{
    display: block;
    width: 100%;
    padding: 0;
  }

  .page3 img{
    position: relative;
    width: 19em;
    height: auto;
    margin-top: 1em;
    }
    
    .page3 p {
        width: 75%;
        padding: 50px;

        }

  #btn2{
    padding-left: 0em;
}

#work-with-me span{
    font-size: 3em;
    line-height: 0.9em;
}

.Sboxes{
    padding-top: 3em;
}

.Sbox{
    width: 40vw; 
}

.newbox {
    padding: 0 0 10em 0;
  }
 
  
  .myapproachp{
  text-align: center;
  }

  #btn3{
    position: absolute;
    margin-top: 20em;

  }

  .page6 {
    display: block;
    padding: 0em 0em;
  }

  #box2 {
    position: relative;
    left: 0em;
  
    }

      
  #box1 {
    position: relative;
    margin: 4em 0em;
  
    }



   

  }
  
  
  